@font-face {
  font-family:  'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Inter-Web/Inter-Regular.woff2") format("woff2"),
       url("./fonts/Inter-Web/Inter-Regular.woff") format("woff");
}


@font-face {
   font-family: 'Inter';
   font-style:  normal;
   font-weight: 700;
   font-display: swap;
   src: url("./fonts/Inter-Web/Inter-Bold.woff2") format("woff2"),
        url("./fonts/Inter-Web/Inter-Bold.woff") format("woff");
 }
 @font-face {
   font-family: 'Inter';
   font-style:  normal;
   font-weight: 900;
   font-display: swap;
   src: url("./fonts/Inter-Web/Inter-Black.woff2") format("woff2"),
        url("./fonts/Inter-Web/Inter-Black.woff") format("woff");
 }






@import url(./vendor/normalize.css);


.body{
  margin:  0px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.root{
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  background-color: #000;
  margin: 0px;
  padding: 0px;
}

  .header{
  border-bottom: 1px solid #545454;
  opacity: 70%;
  min-width: 880px;
  align-self: center;
  padding-top: 45px;
  }

    .header__logo{
    max-width: 142px;
    }
  
  .profile{
    font-family: 'Inter', 'Arial', serif;
    display: flex;
    flex-direction: column;
    color: #fff;
  }
    .profile__info{
      align-self: center;
      min-width: 880px;
      display: flex;
    }
      .profile__avatar{
        max-width: 168px;
        border-radius: 50%;
        object-fit: contain;
        margin-top: 36px; 
      }
      .profile__option{
        
        display: grid;
        min-width: 336px;
        /* width: 100%; */
        grid-template-areas: /* создай гридровс рипит (2, (минконтент/1фр))*/
        "name button"
        "about about";
        
      }
      .profile__name{
        grid-area: name;
        margin: 62px 0px 0px;

      }
      .button-addselfinfo{
        grid-area: button;
        width: 24px;
        height: 24px;
        margin-top: 77px;
        margin-left: 18px;

      }
      .profile__text{
        grid-area: about;
        margin: 16px 0px 0px;

      }











  .grig-content{
    max-width: 880px;
    width: 100%;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(282px, 1fr));
    gap: 20px 17px;
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

      .content-box__photo{
        max-width: 280px;
        min-height: 280px;
        width: 100%;
        object-fit: cover;

      }