.root{
display: flex;
flex-direction: column;
max-width: 1280px;
background-color: #000;
}

  .header{
  border-bottom: 1px solid #545454;
  opacity: 70%;
  min-width: 880px;
  align-self: center;
  padding-top: 45px;
  }

    .header__logo{
    max-width: 142px;
    }
