.form__field{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 1023px){
    .form__field{
      max-width: 238px;
    }
  
  }
  